@charset "UTF-8";

body{
    font-family: 맑은고딕;
    font-size: 15px;
}

#wrap{      
    width: 1000px;
    /*border: 1px solid #000;*/
    margin: 0px auto;
}

header{
    border-bottom: 2px solid #000;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background-color: aqua;*/
}

nav{
    border-bottom: 2px solid #000;
    background-color: #fff;

}

footer{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #bfbfbf;
}
/* //layout//--------------------*/

/* header--------------------*/
header h1{
    font-size: 36px;
    font-weight: bold;
    color: #79b30b;
}

header ul{
    width: 200px;
    /*border: 1px solid #e44343;*/    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

header ul>li{
    margin-left: 5px;
    padding: 3px 6px 3px 6px;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
}
/* //header//--------------------*/

/* nav--------------------*/
nav ul{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

nav ul>li{
    /*flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;*/
    flex: 1 1 0;

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /*border: 1px solid #000;*/
}
/* //nav//--------------------*/

/* aside--------------------*/
.content-wrap{
    display: flex;
}

.content-wrap .aside{
    width: 150px;
    flex-shrink: 0;
}

h2{
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin: 20px 0px 5px 0px;
    background-color: #bfbfbf;
    font-weight: bold;
    font-size: 20px;
}

.content-wrap .aside ul>li{
    margin-bottom: 5px;
    font-size: 17px;
    border: 1px solid #000;
    height: 30px;
    line-height: 30px;
}
/* //aside//--------------------*/

/* main-board-------------------- */
/* page-title--------------------*/
.content{
    width: 100%;
}

.content>.page-title{
    margin-left: 20px;    border-bottom: 1px solid #000;
    margin-top: 35px;
    display: flex;
    justify-content:space-between;
}

.content>.page-title>ul{
    display: flex;
}

.content>.page-title>ul>li::before{
    padding: 0px 5px 0px 5px;

   content: ">";
}

.content>.page-title>ul>li:nth-child(1)::before{
     content: "";
 }
 
h3{
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
/* //page-title//--------------------*/

/* txt-serch-------------------- */
.txt-serch{
    height: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

#src-box{
    width: 50px;
    margin-left: 5px;
}
/* //txt-serch//-------------------- */

/* table-------------------- */
table{
    margin: 10px 0px 10px 20px;
}

table>thead>.top>th{
    background-color: #dddddd;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px double #525151;
    border-top: 2px solid #525151;
}

table>tbody>tr>td{
    text-align: center;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px dotted #000;
}

table>tbody>tr>td.board{
    text-align: left;
}
/* //table//-------------------- */

/* page-number-------------------- */
.page-number ol{
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.page-number ol>li{
    margin: 0px 8px 20px 8px;
}

.page-number ol>li:nth-child(1)::before{
    padding-right: 10px;
    content: "◀";
}

.page-number ol>li:nth-child(10)::after{
    padding-left: 10px;
    content: "▶";
}
/* //page-number//-------------------- */

/* wrt-box-------------------- */
.writing{
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

#wrt-box{
    height: 40px;
    width: 80px;
}
/* //wrt-box//-------------------- */
/* //main-board//-------------------- */




