<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/gallery.css">
</head>

<body>
    <div id="wrap">
        <header class="clearfix">
            <h1>MySite</h1>
            
            <ul class="clearfix">
                <li>로그인</li>
                <li>회원가입</li>
            </ul>
        </header>
        <!--//header-->

        <nav>
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </nav>
        <!--//nav-->

        <div id="content2" class="clearfix">
            <aside>
                <h2>갤러리</h2>    

                <ul>
                    <li>일반갤러리</li>
                    <li>파일첨부연습</li>
                </ul>   

             </aside>
        <!--//aside-->

            <main>
                <div class="path-box clearfix">
                    <h3>일반갤러리</h3>   
                    <ol>
                        <li>홈</li>
                        <li>갤러리</li>
                        <li>일반갤러리</li>
                    </ol>   
                </div> 

                <div class="clearfix">
                    <button id="img-up" type="submit">이미지올리기</button>
                </div>

        <!--//img-up-->
            <div class="gallery">
                <div class="gallery-kang">
                    <img src="../../assets/img/image/Gangho-dong.jpg">                  
                    <p class="img-name"><span class="img-maker">작성자</span> 강호동</p>
                </div>
                <div class="gallery-lee">
                    <img src="../../assets/img/image/Jeongjae-Lee.jpg">                  
                    <p class="img-name"><span class="img-maker">작성자</span> 이정재</p>
                </div>
                <div class="gallery-jeon">
                    <img src="../../assets/img/image/JeonSoMin.jpg">                  
                    <p class="img-name"><span class="img-maker">작성자</span> 전소민</p>
                </div>
                <div class="gallery-ji">
                    <img src="../../assets/img/image/JiseokJin.jpg">                  
                    <p class="img-name"><span class="img-maker">작성자</span> 지석진</p>
                </div>
                <div class="gallery-jung">
                    <img src="../../assets/img/image/JungWooSung.jpg">                  
                    <p class="img-name"><span class="img-maker">작성자</span> 정우성</p>
                </div>

        <!--//gallery-->

                <footer>
                    <p>copyright 2025 박민규. All right reserved</p>
                </footer>
        <!--//footer-->
</body>

</html>