<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/board.css">  

</head>

<body>
    <div id="wrap">
        <header class="clearfix">
            <h1>MySite</h1>
            
            <ul class="clearfix">
                <li>로그인</li>
                <li>회원가입</li>
            </ul>
        </header>
        <!--//header-->

        <nav>
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </nav>
        <!--//nav-->

        <div id="content2" class="clearfix">
            <aside>
                <h2>게시판</h2>    

                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>   

             </aside>
        <!--//aside-->

            <main>
                <div class="path-box clearfix">
                    <h3>일반게시판</h3>   
                    <ol>
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>   
                </div> 

                <div class="clearfix">
                    <button id="serch" type="submit">검색</button>
                    <input id="txt" type="text">
                </div>
        <!--//text.serch-->

                <table>
                    <colgroup>
                        <col style="width:70px;">
                        <col style="width:300px;">
                        <col style="width:100px;">
                        <col style="width:100px;">
                        <col style="width:200px;">
                        <col style="width:100px;">
                    </colgroup>
                    <thead>
                        <tr class="top">
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>조회수</th>
                            <th>작성일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123</td>
                            <td class="board">게시판 게시글입니다.</td>
                            <td>박민규</td>                           
                            <td>9999</td>
                            <td>2025-03-01</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>124</td>
                            <td class="board">게시판 게시글입니다.</td>
                            <td>정우성</td>
                            <td>9999</td>
                            <td>2025-03-01</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>125</td>
                            <td class="board">게시판 게시글입니다.</td>
                            <td>유재석</td>
                            <td>9999</td>
                            <td>2025-03-01</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>126</td>
                            <td class="board">게시판 게시글입니다.</td>
                            <td>강호동</td>
                            <td>9999</td>
                            <td>2025-03-01</td>
                            <td>[삭제]</td>
                        </tr>
                        <tr>
                            <td>127</td>
                            <td class="board">게시판 게시글입니다.</td>
                            <td>이정재</td>
                            <td>9999</td>
                            <td>2025-03-01</td>
                            <td>[삭제]</td>
                        </tr>  
                    </tbody>
                </table>
        <!--//table-->

                <div class="page-number clearfix">
                    <ol>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                        <li>9</li>
                        <li>10</li>
                    </ol>
                </div>
        <!--//page-number-->

                <div class="write clearfix">
                    <button type="submit">글쓰기</button>
                </div>


            </main>

        </div>

       <footer>
            <p>copyright 2025 박민규. All right reserved</p>
        </footer>
        <!--//footer-->

        
    </div>
</body>
</html>