@charset "UTF-8";

.container{
    width: 500px;
    height: 200px;
    border: 3px solid #000;
    margin-bottom: 20px;
}

.container.row{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: spce-around;*/
    /*justify-content: space-between;*/
    justify-content: space-evenly;

}

.container.column{
    display: flex;
    flex-direction: column;
     /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    justify-content: space-around;
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;*/
}

.item1{
    border: 3px solid #ff0000;
}

.item2{
    border: 3px solid #0000ff;
}

.item3{
    border: 3px solid #00ff00;
}